/* navigationBarStyles.css */
.navigation-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #dee9ff;
}

.navbar-form {
  max-width: 1000px;
  margin: auto;
  padding: 20px 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 2px 10px rgba(216, 214, 214, 0.075);
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline-block;
  margin-right: 20px;
}

.nav-list li a {
  color: #2e2e2e
}
